html{
    background: url(/img_files/background.webp) no-repeat center center fixed; 
    background-size: cover;
}

.tbl{
  margin-left: auto;
  margin-right: auto;
  border:30px;
  border-color: black;
}
.navbar{
    width: 100%;
}
td{
    border: 15px none;
    background-size:cover;
    width: 150px;
}
tr{
    height: 145px;
    background-size:contain;
}
img{
   width: 150px;
}
.games_icon{
    text-align: center;
    color:white;
    background-color: rgba(0,0,0,0.5);
}