.navbar{
  width: 100%; 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    display: block;
    font-family: Calibri ;
    font-size: larger;
  }
  #logo{
    width: 150px;
  }
  #user{
    width: 30px;
  }